.categoryFilter {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
  background: white;
  position: relative;
}

.categoryList {
  align-items: center;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
}

.categoryList::-webkit-scrollbar {
  display: none;
}

.categoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  transition: background 0.3s;
}
.label {
  font-size: var(--fontSmall);
  white-space: nowrap;
  color: var(--secondaryColor);
  font-weight: var(--fontMWeight);
}

.categoryItem:hover {
  background: #f0f0f0;
}

.navBtn {
  background: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navBtn:hover {
  background: #f0f0f0;
}
